$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 50px; // put content below header
}

.day-expense {
  margin-top: 30px;
}

.faded {
  color: #CCC;
  font-style: italic;7
}

.day-expense-preview .header {
  font-style: italic;
}

.number-field {
  text-align: right;
}

.day-expense-form .enter-date {
  margin: 10px 0;
  line-height: inherit;
}

.editable-row td {
  padding: 0px; // embedded input handles the padding (input must stretch 100% of td)
}

.table-cell-field {
  border: none;
  width: 100%;
  padding: 7px 5px;
  background: transparent;
}

.expense-table-container {
  position: relative; // used to absolutely position add-expense-btn
}

.expense-table {
  width: 90%;
}

.add-expense-btn {
  position: absolute;
  right: 5%;
  bottom: 7px;
}