<h3>Day Expense List</h3><hr/>

<div ng-repeat="dayExpense in dayExpenses" class="day-expense">
  <h4>{{dayExpense.date | date: 'd MMMM yyyy'}}</h4>
  <table class="table table-bordered table-striped table-condensed">
    <tr><th>Description</th><th>Category</th><th class="number-field">Price</th></tr>
    <tr ng-repeat="expense in dayExpense.expenses">
      <td>{{expense.description}}</td>
      <td>{{expense.category}}</td>
      <td class="number-field">{{expense.price | currency : '£'}}</td>
    </tr>
  </table>
</div>