<h3>New Day Expense</h3><hr />

<div class="day-expense-form">

  <input class="enter-date" type="date" ng-model="date" contenteditable />

  <div class="expense-table-container">
    <table class="table table-striped expense-table">
      <tr><th>Description</th><th>Category</th><th>Price</th></tr>
      <tr ng-repeat="expense in expenses">
        <td>{{expense.description}}</td>
        <td>{{expense.category}}</td>
        <td>{{expense.price | currency : '£'}}</td>
      </tr>
      <tr class="editable-row">
        <td><input type="text" placeholder="Add description" ng-model="newExpense.description" class="table-cell-field"/></td>
        <td>
          <select type="text" ng-model="newExpense.category" ng-options="category as category for category in categories" required class="form-control table-cell-field"></select>
        </td>
        <td><input type="text" placeholder="Add price" ng-model="newExpense.price" class="table-cell-field"/></td>
      </tr>
    </table>
    <button class="btn add-expense-btn" ng-disabled="!(newExpense.price && newExpense.description)" ng-click="addExpense()">Add</button>
  </div>

  <button class="btn btn-success" ng-disabled="!(expenses.length && date)" ng-click="addDayExpense()">New Day Expense</button>
</div>